@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --customMagenta: #20B2AA;
  --customDarkBlue: #103686;
  --customBlue: #3b6ce7;
  --white: #fff;
  --darkpurple: #766788;
  --lightpurple: #8f7ba8;
  --gray: #f5f5f5;
  --black1: #1a1b19;
  --black2: #999;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: white !important;
}